# Dependencies
node_modules

# Production
.next
out
dist
build

# Testing
coverage

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# Cache
.cache

# Lock files
pnpm-lock.yaml
